@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// colors
$cyan: hsl(179, 62%, 43%);
$brightyellow: hsl(71, 73%, 54%);

$lightgray: hsl(204, 43%, 93%);
$month: hsl(204, 43%, 80%);
$grayishblue: hsl(218, 22%, 67%);